/* 
    Document   : LibrarianGUI
    Created on : Mar 25, 2013, 10:03:00 PM
    Author     : Adarsh
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.sidebar{
    -fx-background-color:  #5e91c3;
}

