/* 
    Document   : Login
    Created on : Mar 21, 2013, 10:41:34 PM
    Author     : Adarsh
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.lpanel{   
    
}
.background{
    -fx-background-image: url("../images/loginwall.jpg");
    -fx-background-repeat:round;
    -fx-background-radius: 30px;    
    -fx-border-radius:20px;
}

