/* 
    Document   : MemberGUI
    Created on : Mar 22, 2013, 4:58:58 AM
    Author     : Adarsh
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.sidebar{
    -fx-background-color:  #5e91c3;
}
